@use "../global/variables.scss";
@use "../global/mixins.scss";

.berries__input:checked + .berries__description {
  &::after {
    display: block;
  }
}

.berries__input:disabled + .berries__description {
  &::before {
    border-color: rgba(142, 152, 146, 0.7);
  }
}

@media (hover: hover) and (pointer: fine) {
  .berries__label:hover .berries__description {
    &::before {
      border-color: variables.$color-other-green;
    }

    &::after {
      background-color: variables.$color-other-green;
    }
  }

  .berries__label:has(.berries__input:disabled) {
    pointer-events: none;
  }

  .berries__input:focus-visible + .berries__description {
    color: variables.$color-other-green;

    &::before {
      outline: 2px solid #000000;
      outline-offset: 2px;
    }
  }
}
