@use "../global/variables.scss";
@use "../global/mixins.scss";

.button {
  border: none;
  cursor: pointer;

  &--purple {
    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus-visible {
        background-color: variables.$color-other-purple;
      }
    }

    &:active {
      background-color: variables.$color-other-purple-06;
    }
  }
}
