@use "../global/variables.scss";
@use "../global/mixins.scss";

.catalog__wrapper {
  padding-bottom: 64px;

  background-image: url("../../images/icons/stack.svg#line_leaf");
  background-size: 228px 32px;
  background-position: bottom;
  background-repeat: no-repeat;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 93px;

    background-size: 295px 42px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin-bottom: 22px;
  }
}

.catalog__title {
  padding-bottom: 70px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 71px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 92px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  justify-content: center;
  gap: 24px;

  padding-bottom: 32px;

  @media (min-width: variables.$screen-tablet) {
    gap: 52px;

    padding-bottom: 142px;
  }

  @media (min-width: variables.$screen-desktop) {
    gap: 52px 24px;
  }
}
