@use "../global/variables.scss";
@use "../global/mixins.scss";


.catalog-item {
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.15);

  border-radius: 40px;
  background-color: variables.$color-bg-white;

  overflow: hidden;

  max-width: 360px;

  margin: 0 auto;

  @media (min-width: variables.$screen-tablet) {
    margin: 0;
  }
}

.catalog-item__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.catalog-item__container {
  text-align: center;
  padding: 28px 20px 54px;
}

.catalog-item__title {
  color: variables.$color-accents-green;
  font-size: 28px;
  font-weight: 400;

  padding-bottom: 26.5px;
}

.catalog-item__price {
  font-size: 18px;

  display: flex;
  justify-content: space-between;
  gap: 12px;

  width: 114px;

  margin: 0 auto;
  padding-bottom: 38px;
}

.catalog-item__button {
  background-color: variables.$color-accents-purple;
  font-size: 20px;
  letter-spacing: 1px;

  border-radius: 40px;

  color: variables.$color-bg-white;

  padding: 14px;
  margin: 0 auto;

  width: 220px;
}
