@use "../global/variables.scss";
@use "../global/mixins.scss";

.contacts {
  padding-bottom: 60px;

  &--form {
    padding-bottom: 64px;
  }

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 95px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 43px;
  }
}

.contacts__wrapper {
  @media (min-width: variables.$screen-tablet) {
    padding: 0;
    margin: 0;
  }
}

.contacts__title {
  padding-bottom: 70px;

  &--form {
    position: relative;
    bottom: 11px;
    right: 4px;

    padding-bottom: 50px;
  }

  @media (min-width: variables.$screen-tablet) {
    max-width: 529px;
    margin: 0 auto;
    padding-bottom: 73px;

    &--form {
      padding-bottom: 62px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    position: relative;
    right: 12px;

    &--form {
      right: 20px;
      margin-top: 8px;
    }
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 400px;

  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: variables.$screen-tablet) {
    margin-bottom: 40px;
    position: relative;
    left: -4px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin-bottom: 0;
    margin-left: 81px;
  }
}

.contacts__information {
  font-size: 14px;
  font-style: normal;

  width: fit-content;

  display: flex;
  gap: 4px;
  align-items: flex-start;
  text-wrap: wrap;

  &--adress {
    &::before {
      @include mixins.pseudo("../../images/icons/stack.svg#one_leaf", 32px, 32px);
      background-size: 15px 23px;
      position: relative;
      top: 5px;
    }
  }

  &--phone {
    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus-visible {
        color: variables.$color-other-green;

        &::before {
          background-color: variables.$color-other-green;
        }
      }

      &:active {
        color: variables.$color-accents-green;

        &::before {
          background-color: variables.$color-accents-green;
        }
      }
    }

    &::before {
      @include mixins.pseudoMask("../../images/icons/stack.svg#phone", 32px, 32px, 15px, 26px, #000000);
    }
  }

  &--mail {
    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus-visible {
        color: variables.$color-other-green;

        &::before {
          background-color: variables.$color-other-green;
        }
      }

      &:active {
        color: variables.$color-accents-green;

        &::before {
          background-color: variables.$color-accents-green;
        }
      }
    }

    &::before {
      @include mixins.pseudoMask("../../images/icons/stack.svg#mail", 32px, 32px, 18px, 14px, #000000);
    }
  }

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;

    &--adress {
      &::before {
        top: 0;
      }
    }
  }
}


.contacts__description {
  padding-bottom: 29px;
  text-align: center;
  text-wrap: pretty;

  @media (min-width: variables.$screen-tablet) {
    max-width: 529px;
    margin: 0 auto;

    padding-bottom: 21px;

    font-size: 20px;

    position: relative;
    right: 4px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-left: 34px;
  }
}
