@use "../global/variables.scss";
@use "../global/mixins.scss";

.contacts-form__label {
  position: relative;

  &:hover {
    .contacts-form__input {
      border-color: variables.$color-other-green;
    }
  }

  &--name {
    @media (min-width: variables.$screen-tablet) {
      grid-area: name;
    }
  }

  &--phone {
    @media (min-width: variables.$screen-tablet) {
      grid-area: phone;
    }
  }

  &--mail {
    @media (min-width: variables.$screen-tablet) {
      grid-area: mail;
    }
  }

  &--adress {
    @media (min-width: variables.$screen-tablet) {
      grid-area: adress;
    }
  }

  &--add {
    @media (min-width: variables.$screen-tablet) {
      grid-area: add;
    }
  }

  &--required {
    &:has(.contacts-form__input:invalid:not(:placeholder-shown)) {
      &::after {
        content: "Подсказка";
        color: variables.$color-other-tomato;
        font-family: variables.$font-raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-left: 12px;

        position: absolute;
        left: 0;
        bottom: -24px;
      }
    }
  }
}

.contacts-form__label:has(.contacts-form__input:disabled) {
  pointer-events: none;
}

.contacts-form__title {
  font-size: 14px;
  font-weight: 400;

  display: inline-block;

  padding-bottom: 4px;
  padding-left: 12px;

  &--add {
    padding-bottom: 5px;
  }

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;
  }
}

.contacts-form__input {
  border-radius: 20px;
  border: 1px solid variables.$color-accents-green;
  padding: 16px 12px;
  width: 100%;
  position: relative;

  resize: none;

  font-family: variables.$font-raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  &--adress {
    min-height: 87px;
  }

  &--add {
    min-height: 125px;
  }

  &::placeholder {
    color: variables.$color-bg-or-text-darkgrey;
    position: absolute;
    top: 15px;
  }

  &:focus-visible {
    outline: none;
    border-color: variables.$color-other-green;
  }

  &:not(:placeholder-shown) {
    border-color: variables.$color-other-green;
  }

  &:disabled {
    border-color: rgba(142, 152, 146, 0.7);
    background-color: #ffffff;
  }

  @media (min-width: variables.$screen-tablet) {
    &--adress {
      min-height: auto;
    }

    &--add {
      min-height: 143px;
    }
  }
}
