@use "../global/variables.scss";
@use "../global/mixins.scss";

.copyright {
  &::after {
    @include mixins.pseudo("../../images/icons/stack.svg#academy_logo", 20px, 24px);
  }

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 11px;

  width: fit-content;
  margin-left: auto;

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }

  @media (min-width: variables.$screen-tablet) {
    margin-left: 0;
    padding-top: 12px;
    font-size: 16px;

    &::after {
      width: 26px;
      height: 32px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 16px;
  }
}
