@use "../global/variables.scss";
@use "../global/mixins.scss";

.delivery__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 18px;
    flex-direction: row;
  }
}

.delivery__item {
  &:first-child {
    @media (min-width: variables.$screen-tablet) {
      width: 205px;
    }

    @media (min-width: variables.$screen-desktop) {
      width: 251px;
    }
  }

  &:nth-child(2) {
    @media (min-width: variables.$screen-tablet) {
      width: 255px;
    }

    @media (min-width: variables.$screen-desktop) {
      width: 354px;
    }
  }
}

.delivery__text {
  &--incity {
    width: 190px;
  }
}

.delivery__input:checked + .delivery__description {
  &::after {
    display: block;
  }
}

.delivery__input:disabled + .delivery__description {
  &::before {
    border-color: rgba(142, 152, 146, 0.7);
  }
}

.delivery__label:has(.delivery__input:disabled) {
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .delivery__label:hover .delivery__description {
    &::before {
      border-color: variables.$color-other-green;
    }

    &::after {
      background-color: variables.$color-other-green;
    }

    .delivery__input:focus + .delivery__description {
      color: variables.$color-other-green;
    }
  }

  .delivery__input:focus-visible + .delivery__description {
    color: variables.$color-other-green;

    &::before {
      outline: 2px solid #000000;
      outline-offset: 2px;
    }
  }
}
