@use "../global/variables.scss";
@use "../global/mixins.scss";

.form__berries {
  @media (min-width: variables.$screen-tablet) {
    padding: 0 70px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0;
  }
}

.form__storage {
  @media (min-width: variables.$screen-tablet) {
    padding: 0 70px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0;
  }
}

.form__delivery {
  @media (min-width: variables.$screen-tablet) {
    padding: 0 70px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0;
  }
}

.form__button {
  text-align: center;

  border-radius: 40px;
  background-color: #6a107a;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);

  padding: 16px;
  margin: 0 auto;
  margin-bottom: 120px;

  width: 264px;

  font-family: variables.$font-raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfcfe;
  letter-spacing: 1px;

  position: relative;
  right: 4px;
  bottom: 3px;

  @media (min-width: variables.$screen-tablet) {
    width: 336px;
    font-size: 28px;

    top: -10px;
    right: 1px;

    margin-bottom: 135px;
  }

  @media (min-width: variables.$screen-desktop) {
    top: -37px;
    margin-bottom: 107px;
  }
}
