@use "../global/variables.scss";
@use "../global/mixins.scss";

.hero {
  &--main {
    background-image: url("../../images/hero_bg_mobile@1x.webp");
    background-color: variables.$color-bg-or-text-grey;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 640px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/hero_bg_mobile@2x.webp");
    }

    @media (min-width: 400px) {
      background-image: url("../../images/hero_bg_tablet@1x.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/hero_bg_tablet@2x.webp");
      }
    }

    @media (min-width: variables.$screen-tablet) {
      background-position: right;

      min-height: 920px;
      margin-bottom: 32px;
    }

    @media (min-width: 1000px) {
      background-image: url("../../images/hero_bg_desktop@1x.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/hero_bg_desktop@2x.webp");
      }
    }

    @media (min-width: variables.$screen-desktop) {
      min-height: 801px;
      margin-bottom: 27px;
    }
  }

  &--form {
    background-image: url("../../images/hero_bg_form_mobile@1x.webp");
    background-color: variables.$color-other-tomato;
    background-size: cover;
    background-repeat: no-repeat;

    height: 120px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/hero_bg_form_mobile@2x.webp");
    }

    @media (min-width: 400px) {
      background-image: url("../../images/hero_bg_form_tablet@1x.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/hero_bg_form_tablet@2x.webp");
      }
    }

    @media (min-width: variables.$screen-tablet) {
      height: 200px;
      margin-bottom: 24px;
    }

    @media (min-width: 1000px) {
      background-image: url("../../images/hero_bg_form_desktop@1x.webp");

      @media (min-resolution: 2dppx) {
        background-image: url("../../images/hero_bg_form_desktop@2x.webp");
      }
    }
  }
}

.hero__wrapper.wrapper {
  @media (min-width: variables.$screen-tablet) {
    padding-left: 214px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-left: 550px;
  }
}

.hero__title {
  padding: 60px 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 44px;
    padding-top: 142px;

    display: block;

    position: relative;
    right: 12px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-top: 176px;
    padding-bottom: 46px;
    text-align: start;
  }
}

.hero__list {
  width: clamp(208px, calc((502 / 1440) * 100vw), 502px);

  margin: 0 auto;
  padding-bottom: 64px;

  @media (min-width: variables.$screen-tablet) {
    margin: 0;
    padding-bottom: 49px;

    width: 502px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-left: 11px;
    padding-bottom: 52px;
  }
}

.hero__item {
  display: flex;
  gap: 12px;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 13px;
  }

  &:nth-child(2) {
    padding-bottom: 18px;
  }

  &--leave {
    &::before {
      @include mixins.pseudo("../../images/icons/stack.svg#leave", 32px, 32px);
      background-size: 18px 20px;
    }
  }

  &--snow {
    &::before {
      @include mixins.pseudo("../../images/icons/stack.svg#snow", 32px, 32px);
      background-size: 24px 24px;

      position: relative;
      top: 4px;
    }
  }

  &--moto {
    &::before {
      @include mixins.pseudo("../../images/icons/stack.svg#moto", 32px, 32px);
      background-size: contain;

      position: relative;
      top: 3px;
    }
  }

  @media (min-width: variables.$screen-tablet) {
    font-size: 18px;

    &:not(:last-child) {
      padding-bottom: 21px;
    }
  }
}

.hero__link {
  text-align: center;
  color: variables.$color-bg-white;
  font-size: 20px;
  letter-spacing: 1px;

  border-radius: 40px;

  background-color: variables.$color-accents-purple;
  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);

  padding: 16px;
  margin: 0 auto;

  width: 264px;

  @media (min-width: variables.$screen-tablet) {
    width: 336px;
    margin: 0;
    font-size: 28px;
    letter-spacing: 1.4px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin-left: 26px;
    padding: 17px;
  }
}
