@use "../global/variables.scss";
@use "../global/mixins.scss";

.label__description {
  &--checkbox {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border: 2px solid variables.$color-accents-green;
      border-radius: 4px;
      flex-shrink: 0;
      position: relative;
    }

    &::after {
      content: "";
      display: none;
      width: 14px;
      height: 14px;
      mask-image: url("../../images/icons/stack.svg#checkbox");
      background-color: variables.$color-accents-green;
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;
      position: absolute;
      left: 5px;
      top: 5px;
      flex-shrink: 0;
    }
  }

  &--radio {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;

    min-height: 60px;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border: 2px solid variables.$color-accents-green;
      border-radius: 50%;
      flex-shrink: 0;
      position: relative;
    }

    &::after {
      content: "";
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: variables.$color-accents-green;
      position: absolute;
      left: 7px;
      top: 6.5px;
      flex-shrink: 0;
    }
  }
}

.delivery__text {
  @media (min-width: variables.$screen-desktop) {
    display: block;
  }
}
