@use "../global/variables.scss";
@use "../global/mixins.scss";

.location {
  @media (min-width: variables.$screen-desktop) {
    width: 552px;
  }
}

.location__map {
  width: 100%;

  &--nojs {
    display: none;
  }
}

.location__picture {
  width: 100%;
  object-fit: cover;
}
