@use "../global/variables.scss";
@use "../global/mixins.scss";

.logo {
  .text {
    display: none;

    @media (min-width: variables.$screen-tablet) {
      display: block;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .leaves,
    &:focus-visible .leaves,
    &:hover .text,
    &:focus-visible .text {
      fill: variables.$color-other-green;
    }

    &:active .leaves,
    &:active .text {
      fill: variables.$color-other-turquoise;
    }
  }
}

.logo__image {
  @media (min-width: variables.$screen-tablet) {
    height: 60px;
  }
}
