@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-nav {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: variables.$screen-tablet) {
    display: flex;
    justify-content: space-between;
    gap: 87px;
  }

  @media (min-width: variables.$screen-desktop) {
    display: flex;
  }
}

.main-nav__wrapper {
  min-width: 320px;
  height: 68px;

  position: relative;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 4px 0 rgba(88, 13, 101, 0.25);

  @media (min-width: variables.$screen-tablet) {
    min-width: auto;
    width: fit-content;
    box-shadow: none;
    height: auto;
    flex-shrink: 0;
    align-self: flex-start;
  }
}

.main-nav__logo-link {
  margin-left: 19px;
  overflow: hidden;
  width: 58px;
  margin-top: 2px;

  @media (min-width: variables.$screen-tablet) {
    padding: 19.5px 0;
    width: fit-content;
    margin-left: 26px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 21px 0;
    margin-left: 156px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:focus {
      outline: none;
    }
  }
}

.main-nav__list {
  height: 0;

  overflow: hidden;

  font-size: 20px;

  background-color: variables.$color-bg-or-text-grey;

  &--close {
    position: absolute;
    inset: 0;
    top: 68px;

    width: 100%;
    height: fit-content;
    min-height: 360px;

    padding: 32px 40px;
  }

  &--noscript {
    display: block;

    width: 100%;
    height: fit-content;
    min-height: 360px;

    padding-left: 26px;
    padding-top: 32px;

    position: relative;
    bottom: -6px;
  }

  @media (min-width: variables.$screen-tablet) {
    height: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 28px 16px;

    position: static;

    padding: 22px 26px 22px 0;

    &--close {
      min-height: auto;
      width: auto;
    }

    &--noscript {
      min-height: auto;
      justify-content: flex-end;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 24px 212px 24px 0;
    gap: 40px 48px;
  }
}

.main-nav__item {
  width: fit-content;

  &:not(:last-child) {
    padding-bottom: 28px;
  }

  @media (min-width: variables.$screen-tablet) {
    &:not(:last-child) {
      padding-bottom: 0;
    }

    min-width: 112px;
  }
}

.main-nav__link {
  &--current {
    color: variables.$color-accents-green;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus {
      color: variables.$color-other-green;
      outline: none;
    }

    &:active {
      color: variables.$color-accents-green;
    }
  }
}

.main-nav__button-menu {
  mask-image: url("../../images/icons/stack.svg#burger_menu");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: variables.$color-accents-green;

  margin-right: 21px;

  width: 60px;
  height: 60px;

  position: relative;
  z-index: 10;

  &--cross {
    mask-image: url("../../images/icons/stack.svg#cross_menu");
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: rgba(15, 128, 93, 0.75);

    width: 28px;
    height: 28px;

    position: relative;
    left: -8px;
  }

  &--noscript {
    display: none;
  }

  @media (min-width: variables.$screen-tablet) {
    display: none;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      background-color: variables.$color-other-green;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
