@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-footer {
  background-color: variables.$color-bg-or-text-grey;
}

.main-footer__wrapper.wrapper {
  padding-top: 11px;
  padding-bottom: 20px;

  @media (min-width: variables.$screen-tablet) {
    padding-top: 27px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 24px 160px;
  }
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: variables.$screen-tablet) {
    flex-basis: clamp(463px, 55vw, 654px);
    padding-bottom: 0;
  }

  @media (min-width: variables.$screen-desktop) {
    flex-basis: 680px;
  }
}

.main-footer__logo-link {
  width: 52px;

  position: relative;
  top: -5px;
  right: 7px;

  @media (min-width: variables.$screen-desktop) {
    top: -1px;
    right: 4px;
  }
}

.main-footer__copyright-link {
  justify-content: flex-end;
}
