@use "../global/variables.scss";
@use "../global/mixins.scss";

.news-item {
  border-radius: 40px;
  border: 2px solid variables.$color-accents-green;

  width: 264px;
  min-height: 400px;

  &::after {
    @include mixins.pseudo("../../images/icons/stack.svg#half-line_leaf", 76px, 32px);
    margin: auto;
  }

  @media (min-width: variables.$screen-tablet) {
    width: 348px;

    &::after {
      width: 96px;
      height: 40px;
    }
  }

  @media (min-width: variables.$screen-desktop) {
    width: 360px;
  }
}

.news-item__title {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  text-wrap: balance;

  min-height: 68px;
  width: 204px;

  margin: 0 auto;
  margin-bottom: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 1.5px;

  &--discount {
    top: -5px;
    margin-bottom: 14px;

    @media (min-width: variables.$screen-tablet) {
      margin-bottom: 22px;
    }
  }

  &--berriesmix {
    top: -3px;
    margin-bottom: 18px;

    @media (min-width: variables.$screen-tablet) {
      margin-bottom: 22px;
    }
  }

  @media (min-width: variables.$screen-tablet) {
    font-size: 28px;
    min-height: 100px;
    width: 276px;

    position: relative;
    top: -3px;
    left: -2px;
  }

  @media (min-width: variables.$screen-desktop) {
    top: -3px;
    left: 1px;
  }
}

.news-item__description {
  font-size: 14px;
  text-wrap: pretty;

  display: inline-block;
  min-height: 191px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;
    min-height: 212px;

    line-height: 20px;
  }
}

.news-item__date {
  font-size: 14px;

  text-align: end;

  padding-bottom: 16px;

  @media (min-width: variables.$screen-tablet) {
    font-size: 16px;

    padding-bottom: 24px;
  }
}
