@use "../global/variables.scss";
@use "../global/mixins.scss";

.order__wrapper {
  background-image: url("../../images/icons/stack.svg#line_leaf");
  background-size: 228px 32px;
  background-position: bottom;
  background-repeat: no-repeat;

  margin-bottom: 10px;

  @media (min-width: variables.$screen-tablet) {
    padding: 0 72px;
    background-size: 295px 42px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding: 0 324px;
    margin-bottom: 29px;
  }
}

.order__form {
  display: flex;
  flex-direction: column;
  gap: 31px;

  @media (min-width: variables.$screen-tablet) {
    gap: 48px;
  }

  @media (min-width: variables.$screen-desktop) {
    gap: 58px;
  }
}

.order__container {
  background-image: url("../../images/icons/stack.svg#line_leaf");
  background-size: 228px 32px;
  background-position: bottom;
  background-repeat: no-repeat;

  margin-bottom: 50.3px;

  @media (min-width: variables.$screen-tablet) {
    background-size: 295px 42px;
    margin-bottom: 72px;
  }

  @media (min-width: variables.$screen-desktop) {
    margin-bottom: 62px;
  }
}

.order__title {
  padding-bottom: 32px;
  padding-top: 4px;

  @media (min-width: variables.$screen-tablet) {
    padding-bottom: 52px;
  }

  @media (min-width: variables.$screen-desktop) {
    padding-bottom: 48px;
  }
}

.order__description {
  text-align: center;
  padding-bottom: 72px;
  margin: 0 auto;

  text-wrap: balance;

  @media (min-width: variables.$screen-tablet) {
    max-width: 560px;
    font-size: 18px;
    text-wrap: balance;

    padding-bottom: 80px;
  }

  @media (min-width: variables.$screen-desktop) {
    text-wrap: pretty;

    padding-bottom: 90px;
  }
}
