@use "../global/variables.scss";
@use "../global/mixins.scss";

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
  flex-grow: 1;

  padding-top: 4px;

  @media (min-width: variables.$screen-tablet) {
    max-width: 280px;

    gap: 32px;

    position: relative;
    top: 5px;
    right: 6px;
  }

  @media (min-width: variables.$screen-desktop) {
    right: 20px;
  }
}

.social__item {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 1px solid variables.$color-accents-green;

  @media (min-width: variables.$screen-tablet) {
    width: 40px;
    height: 40px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-within {
      border-color: variables.$color-other-green;
    }

    &:active {
      border-color: variables.$color-other-turquoise;
    }
  }
}

.social__link {
  width: 100%;
  height: 100%;

  mask-position: center;
  mask-repeat: no-repeat;

  &--tg {
    mask-image: url("../../images/icons/stack.svg#telegram");
    mask-size: 19.2px 19.2px;

    background-color: variables.$color-accents-green;

    @media (min-width: variables.$screen-tablet) {
      mask-size: 24px 24px;
    }
  }

  &--vk {
    mask-image: url("../../images/icons/stack.svg#vkontakte");
    mask-size: 19.2px 15px;

    background-color: variables.$color-accents-green;

    @media (min-width: variables.$screen-tablet) {
      mask-size: 24px 19px;
    }
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#youtube");
    mask-size: 19.2px 19.2px;

    background-color: variables.$color-accents-green;

    @media (min-width: variables.$screen-tablet) {
      mask-size: 24px 24px;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      background-color: variables.$color-other-green;
    }

    &:active {
      background-color: variables.$color-other-turquoise;
    }
  }
}
