@use "../global/variables.scss";
@use "../global/mixins.scss";

.storage__input:checked + .storage__description {
  &::after {
    display: block;
  }
}

.storage__input:disabled + .storage__description {
  &::before {
    border-color: rgba(142, 152, 146, 0.7);
  }
}

.storage__label:hover .storage__description {
  &::before {
    border-color: variables.$color-other-green;
  }

  &::after {
    background-color: variables.$color-other-green;
  }
}

.storage__label:has(.storage__input:disabled) {
  pointer-events: none;
}

.storage__input:focus-visible + .storage__description {
  color: variables.$color-other-green;

  &::before {
    outline: 2px solid #000000;
    outline-offset: 2px;
  }
}
