@use "../global/variables.scss";
@use "../global/mixins.scss";

.text {
  margin: 0;
  padding: 0;

  &--h2 {
    color: variables.$color-accents-green;
    text-align: center;
    font-family: variables.$font-comfortaa;
    font-weight: 400;
    font-size: 36px;

    @media (min-width: variables.$screen-tablet) {
      font-size: 48px;
    }

    @media (min-width: variables.$screen-desktop) {
      font-size: 52px;
    }
  }

  &--legend {
    color: variables.$color-accents-green;
    font-size: 20px;

    @media (min-width: variables.$screen-tablet) {
      font-size: 28px;
    }
  }

  &--asteriks {
    font-size: 16px;
    line-height: 20px;
    color: variables.$color-other-tomato;
  }
}

.text__wrap {
  display: block;

  &--contacts {
    position: relative;
    left: -6px;
    top: 1px;
  }

  &--news-2 {
    display: inline;
  }

  &--news-3 {
    display: inline;
  }

  &--news-4 {
    display: inline;
  }

  &--news-5 {
    display: inline;
  }

  &--news-6 {
    display: block;
  }

  &--delivery-7 {
    display: block;
  }

  @media (min-width: variables.$screen-tablet) {
    display: inline;

    &--news-1 {
      display: block;
    }

    &--news-3 {
      display: block;
    }

    &--news-4 {
      display: block;
    }
  }
}

.text__align-contacts {
  padding-top: 6px;
}
